---
import "../styles/global.css";
import MainLayout from "../layouts/main-layout.astro";

console.log("Running on the server")
---

<!-- Overflow-hidden fixes 1st section pushing fixed header down -->
<MainLayout page="home" transparent={true} dark={true} classes="overflow-hidden bg-slate-600">
	<div>Test</div>
</MainLayout>
